/* 
Styling for  HW-Wirefram.01
*/


/* Using the * CSS selector to capture every element on the page and then assigning the CSS Attributes for box-sizing and text-align */

* {
    box-sizing: border-box;
    text-align: center;
    
  }


/* Applying a background-color to the header, nav, section, aside, footer, h1, and p elements */

  header,
  nav,
  section,
  aside,
  footer,
  h1,
  p {background-color: #ebebeb;

}
/* Applying font-family, color, background, width, and font-size attributes to the body element */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

/* Applying margin-bottom and padding attributes to the header element */

header {
    margin-bottom: 10px;
    padding: 30px;
}

/* Applying padding attributes to the nav element */

nav {
    padding: 30px;
}

/* Applying width, clear, overflow, padding-top, margin-top, float, and margin-bottom attributes to the section element */

section {
    width: 495px;
    clear: both;
    overflow: auto;
    padding-top: 30px;
    margin-top: 20px;
    float: left;
    margin-bottom: 20px;
}

/* Applying color, background, padding-top, padding-bottom, margin-top, margin-right, margin-left, and margin-bottom attributes to the article element*/

article {
    color: #ebebeb;
    background: #777;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Applying padding, margin, and color attributes to the h1 element*/

h1 {
    padding: 15px;
    margin: 10px;
    color: #777;
}

/* Applying padding, margin and color attributes to the p element*/

p {
    padding: 15px;
    margin: 10px;
    color: #777;
}

/* Applying float, padding-top, margin-top, margin-left, width, height, and margin-bottom attributes to the aside element*/

aside {
    float: right;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 20px;
    width: 445px;
    height: 268px;
    margin-bottom: 20px
}

/* Applying clear, background-color, overflow and padding attributes to the footer element */

footer {
    clear: both;
    padding: 30px;
}
